**/bin/
**/obj/
**/out/
**/publish/

.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

.git/
.gitignore
.gitattributes
.github/
.gitlab-ci.yml
.azure-pipelines/

Dockerfile*
docker-compose*
.dockerignore

**/TestResults/
**/coverage/
*.trx
*.coverage
*.coveragexml

*.log
*.tmp
*.bak
**/node_modules/
**/dist/
**/packages/
!**/packages.config

README.md
CHANGELOG.md
LICENSE*